<% provide(:title, 'About Us') %>
<div class="blockquote">
  <div class="pull-right">
    <div class ="small">
      <h1>About Us</h1>
        <h3>Josh Duffy - CEO</h3>
        <h3>Michael Pierce - CFO</h3>
        <h3>Joe Currin - CTO</h3>
    </div>
  </div>
</div>
