body {
  background-image: asset-url('background.jpg');
}

.custom_navbar {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.home_page {
  float: right;
  margin-right: 50px;
  color: white;
}

.email_button {
  float: right;
  margin-right: auto;
  margin-left: auto;
}